@use '../../styles/variables.scss' as vars;

.topbar {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__actions {
		display: flex;
		gap: 3rem;

		.avatar {
			border-radius: 10rem;
		}
	}
}
