@use '../../styles/variables.scss' as vars;

.column {
	display: flex;
	flex-direction: column;
	background: vars.$color-grey-pale;
	border-radius: 1rem;
	padding: 2.4rem;
	width: 36rem;
	height: 100%;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.5rem;
		// padding-bottom: 8px;
	}

	&__title {
		font-weight: vars.$weight-medium;
		font-size: vars.$size-h3;
		color: vars.$color-black;
	}

	&__title-edit {
		font-weight: vars.$weight-medium;
		font-size: vars.$size-h3;
		color: vars.$color-black;
		border: 1px solid vars.$color-grey-pale;
		border-radius: 4px;
		padding: 2px 5px;
		width: 80%;
		&:focus {
			outline: none;
			border-color: vars.$color-dark-blue;
		}
	}

	&__buttons {
		display: flex;
		gap: 1.5rem;
	}

	&__tasks {
		flex-grow: 1;
		min-height: 4rem;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
}
