@use './variables.scss' as vars;

.btn {
	font-weight: vars.$weight-regular;
	font-size: vars.$size-h3;

	&_add-column {
		width: 36rem;
		height: 7.2rem;
		border-radius: 1rem;
		padding: 2.4rem;
		background-color: vars.$color-grey-pale;
		text-align: center;

		svg {
			display: block;
			margin: 0 auto;
		}
	}

	&_remove {
		width: 15rem;
		padding: 0.5rem 1.5rem;
		background-color: vars.$color-red;
		color: vars.$color-white;
	}

	&_edit-form {
		width: 15rem;
		padding: 0.5rem 1.5rem;
		color: vars.$color-black;
		background-color: vars.$color-grey-pale;
		border-radius: 1rem;
		transition: background-color 0.2s;

		&:hover {
			background-color: vars.$color-blue-pale;
		}
	}

	&_assignees-selector {
		display: flex;
		align-items: center;
		gap: 1rem;

		font-weight: vars.$weight-regular;
		font-size: vars.$size-text;
	}
}
