// colors
$color-black: #131313;
$color-grey: #707070;
$color-grey-pale: #eef2f5;
$color-white: #ffffff;
$color-dark-blue: #00569e;
$color-blue: #18b0ff;
$color-blue-pale: rgba(67, 145, 237, 0.1);
$color-green: #40a737;
$color-orange: #fea946;
$color-red: #ff2473;

//font
$font-family: "Poppins";
$font-size-base: 10px;

//size
$size-h1: 3rem;
$size-h2: 1.8rem;
$size-h3: 1.6rem;
$size-text: 1.2rem;
$size-tag: 0.8rem;

//weight
$weight-bold: 700;
$weight-medium: 500;
$weight-regular: 400;
