@use '../../styles/variables.scss' as vars;

.icon {
  width: 2.4rem;
  height: 2.4rem;

  &_color_grey-pale {
    stroke: vars.$color-grey-pale;
    fill: vars.$color-grey-pale;
  }

  &_color_grey {
    stroke: vars.$color-grey;
    fill: vars.$color-grey;
  }

  &_stroke_grey {
    stroke: vars.$color-grey;
  }

  &_color_black {
    stroke: vars.$color-black;
    fill: vars.$color-black;
  }

  &_size_sm {
    width: 1.6rem;
    height: 1.6rem;
  }

  &_size_md {
    width: 2.4rem;
    height: 2.4rem;
  }

  &_size_lg {
    width: 2.4rem;
    height: 2.4rem;
  }

  &_bg-color_red {
    background-color: #f44336;
  }

  &_bg-color_pink {
    background-color: #e91e63;
  }

  &_bg-color_purple {
    background-color: #9c27b0;
  }

  &_bg-color_indigo {
    background-color: #3f51b5;
  }

  &_bg-color_skyblue {
    background-color: #03a9f4;
  }

  &_bg-color_green {
    background-color: #4caf50;
  }

  &_bg-color_orange {
    background-color: #ff9800;
  }

  &_bg-color_brown {
    background-color: #795548;
  }
}
