// colors
$color-black: #131313;
$color-grey: #707070;
$color-grey-pale: #eef2f5;
$color-white: #ffffff;
$color-dark-blue: #00569e;
$color-blue: #18b0ff;
$color-blue-pale: rgba(67, 145, 237, 0.1);
$color-green: #40a737;
$color-orange: #fea946;
$color-pink: #ff2473;

//font
$font-family: 'Poppins';
$font-size-base: 10px;

//size
